/* all */
* {
	box-sizing: border-box; 
  }
  
  /* body: header/footer/article/divmain*/
  body {
	font-family:Georgia, serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
  padding: 0;
  width: 100%;
  }

  
  /* header */
  header  {
	  line-height: 10%;
	text-align: center;
	/* background: #9acd32; */
	height: 17vh;
  width: 100%;
  padding:0%;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #f9ebc4, #f0e4a8, #e3dd8c, #d2d871, #bdd357, #b2d14b, #a7cf3f, #9acd32, #9acd32, #9acd32, #9acd32, #9acd32);
  }
  header p {
	  text-align: right;
	max-width: 45rem;
	margin: auto;
  padding:1.5%
  }
  
  /* footer */
  footer {
	text-align: center;
  background-image: linear-gradient(to bottom, #f9ebc4, #f0e4a8, #e3dd8c, #d2d871, #bdd357, #b2d14b, #a7cf3f, #9acd32, #9acd32, #9acd32, #9acd32, #9acd32);
  height: 10vh;
  width: 100%;
  padding:0%;
  box-sizing: border-box;
  }
  
  /* div */
  #main {
	display: flex;
	flex: 1;
  width: 100%;
  }
  #main > article {
	flex: 1;
  /* padding: 1em; */
  }
  #main > nav, 
  #main > aside {
	flex: 0 15 15vw;
	background: #F9EBC4;
  padding: 1em;
  }
    #main > nav {
    order: -1;
    font-weight: bold;
    line-height: 200%;
    }
    #main > aside {
    order: +1;
    font-weight: bold;
    line-height: 200%;
    width: 100%;
    }

  
  /* article */
  article {
    position:sticky;
	  text-align: center;
	  max-width: 800%;
    padding: 1em;
	  margin: auto;
    display: block;
    margin: 10px;
    border: 1px solid black;
    border-style: dotted;
  }
  article p, article ul {
	  text-align: left;
	  width: 85%;
	  max-width: 40rem;
	  margin: 1em auto;
  }
  article img {
	  max-width: 25rem;
	  max-height: 25rem;
	  object-fit: contain;

  }
  

  /* img */

  /* table? */
  .tableizer-table{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .box {
    width: 300px;
    height: 1000px;
    border: 1px solid black;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
  }
